<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<%= link_to "sample app", '#', id:"logo"%>
		<nav>
			<ul class="nav pull-right">
				<li><%= link_to "Home",  '#' %></li>
				<li><%= link_to "News",  '#' %></li>
				<li><%= link_to "Who am I",  '#' %></li>
				<li><%= link_to "Jobs",  '#' %></li>
				<li><%= link_to "Contact Me",  '#' %></li>
			</ul>
		</nav>
	</div>
</header>