<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<%= link_to "sample app", '#', id:"logo"%>
		<nav>
			<ul class="nav pull-right">
				<li><%= link_to "Home",  '/' %></li>
				<li><%= link_to "News",  '/news' %></li>
				<li><%= link_to "Who am I",  '/about' %></li>
				<li><%= link_to "Jobs",  '/jobs' %></li>
				<li><%= link_to "Contact Me",  '/contact' %></li>
			</ul>
		</nav>
	</div>
</header>